@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  

* {
    margin: 0;
    padding: 0;
}

.max-width {
    max-width: 1440px;
    margin: 0 auto;
}

.border{
    border: 2px solid tomato;
}



/* Navbar styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-logo img {
    width: 40px;
}

.header-logo h3 {
    font-size: 30px;
}

.nav-items {
    display: flex;
    gap: 10px;
}


.nav-items li {
    list-style: none;

}

.nav-items li a {
    text-decoration: none;
    gap: 32px;
}

.bar {
    width: 30px;
    display: none;
}
.nav-btn{
    width: 96px;
    height: 50px;
    background:#FEA301;
    padding: 10px 10px;
    border-radius: 12px;
}
.nav-title{
    font-size: 32px;
    font-weight: bold;
}
.nav-scetion{
    font-size: 20px;
    font-weight: 20px;
    color: #FEA301;
}
.nav-scetion2{
    font-size: 20px;
    font-weight: 20px;
    color: #01ACFD;
}

.nav-scetion3{
    font-size: 20px;
    font-weight: 20px;
    color: #05D4DF;
}

.nav-scetion4{
    font-size: 20px;
    font-weight: 20px;
    color: #5D58EF;
    
}




/* banner seciton */

.banner {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.banner>img {
    width: 100%;

}


/* Standard curriculum */
.curriculam h2{
    font-size: 40px;
    text-align:center ;
}

.curriculum-container{
    display: flex;
    gap: 20px;
}

.curriculam-card{
    background-image: linear-gradient(to right, rgb(223, 104, 0) , rgb(222, 16, 115));
    background-color: bisque;
    padding: 20px;
    border-radius: 18px;
}
.curriculam-card2{
    background-image: linear-gradient(to right, rgb(81, 56, 34) , rgb(151, 60, 104));
    background-color: bisque;
    padding: 20px;
    border-radius: 18px;
}
.curriculam-card3{
    background-image: linear-gradient(to right, rgb(223, 104, 0) , rgb(222, 16, 115));
    background-color: bisque;
    padding: 20px;
    border-radius: 18px;
}
.curriculum-container{

    height: 476.78px;
   
    border-radius: 18.86px;
    text-align: center;
    background-image: url(../assets/bg.png);

}

/* our story */

.out-story{
    display: flex;
    align-items: center;

}

.story-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/* story */

.story-card{
    position: relative;
}

.story-btn{
    position: absolute;
    left: 50px;
    top: 200px;
}

.banner-title1{
    font-size: 56px;
    font-weight: bold;
    color: #FEA301;
}
.banner-title2{
    font-size: 56px;
    font-weight: bold;
}
.banner-title3{

    font-size: 56px;
    font-weight: bold;
    color: #01ACFD;
}
.banner-p{
    font-size: 20px;
}
.banner-btn{
    width: 197px;
    height: 50px;
    color:white;
border-radius: 12px;
padding: 10px 10px;
background-color: black;
margin: 10px;
}

/* Mobile devices responsive */

@media screen and (max-width:776px) {

    /* navbar */
    .nav-items {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .bar {
        display: block;
    }


    /* banner */
    .banner {
        flex-direction: column-reverse;
        justify-content: center;
    }



    /*  */

    .curriculum-container{
       flex-direction: column;
    }
  



    .story-group{
        grid-template-columns: 1fr;
    }
     .left-card{
        display: none;
    }

}